


div.sopra{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    position: relative;
   background: white;
   padding: 180px;
}
    
    
    
    .Tablet-1 {
        position: absolute;
  top: 0;
  left: 80px;
  width: 320px;
  height: 380px;
  
 
 }

    .Cellulare-1 {
        position: absolute;
        top: 0;
        left: 417px;
        width: 320px;
        height: 380px;
         }

    .Cuffia-1 {
        position: absolute;
        top: 0;
        right: 30px;
        width: 320px;
        height: 380px;
        }

        div.sotto{
            margin-top: 50px;
            margin-left: 200px;
            margin-right: 200px;
            margin-bottom: 50px;
            position: relative;
           background: white;
            }
            
            
            
            .Tablet-2 {
                position: absolute;
          top: 0;
          left: 80px;
          width: 320px;
          height: 380px;
          }
        
            .Cellulare-2 {
                position: absolute;
                top: 0;
                left: 417px;
                width: 320px;
                height: 380px;
             }
        
            .Cuffia-2 {
                position: absolute;
                top: 0;
                right: 30px;
                width: 320px;
                height: 380px;
            }

        .percentuali-1{
            position: absolute;
            top: 0;
            left:310px;
            width: 50px;
            height: 25px;
            border-radius: 5%;
            background-color:green;
            color: white;
            margin-left: 1cm;
            text-align: center;
            vertical-align: middle;
            font-size: large;
            color: black;
            text-decoration: solid;
        }

        .percentuali-2{
            position: absolute;
            top: 0%;
            left: 650px;
            width: 50px;
            height: 25px;
            border-radius: 5%;
            background-color:red;
            color: white;
            margin-left: 1cm;
            text-align: center;
            vertical-align: middle;
            font-size: large;
            color: black;
            text-decoration: solid;
        }

        .percentuali-3{
            position: absolute;
            right: 30px;
            top: 0%;
            width: 50px;
            height: 25px;
            border-radius: 5%;
            background-color:green;
            color: white;
            margin-left: 1cm;
            text-align: center;
            vertical-align: middle;
            font-size: large;
            color: black;
            text-decoration: solid;
        }

        


