


div.sopra{
   margin-left: auto;
   margin-right: auto;
    position: relative;
    width: 80%;
   background: white;
   padding: 180px;
}
    
    
    
    .Tablet-1 {
        position: absolute;
  top: 0;
  left: 280px;
  width: 320px;
  height: 380px;
  display: inline-block;
  
 
 }

    .Cellulare-1 {
        position: absolute;
        top: 0;
        left: 610px;
        width: 320px;
        height: 380px;
        display: inline-block;
         }

    .Cuffia-1 {
        position: absolute;
        top: 0;
        right: 300px;
        width: 320px;
        height: 380px;
        display: inline-block;
        }

        div.sotto{
            margin-left: auto;
            margin-right: auto;
             position: relative;
             width: 80%;
            background: white;
            padding: 180px;
            }
            
            
            
            .Tablet-2 {
                position: absolute;
          top: 0;
          left: 280px;
          width: 320px;
          height: 380px;
          display: inline-block;
          }
        
            .Cellulare-2 {
                position: absolute;
                top: 0;
                left: 610px;
                width: 320px;
                height: 380px;
                display: inline-block;
             }
        
            .Cuffia-2 {
                position: absolute;
                top: 0;
                right:300px;
                width: 320px;
                height: 380px;
                display: inline-block;
            }

        .percentuali-1{
            position: absolute;
            top: 0;
            left:510px;
            width: 50px;
            height: 25px;
            border-radius: 5%;
            background-color:green;
            color: white;
            margin-left: 1cm;
            text-align: center;
            vertical-align: middle;
            font-size: large;
            color: black;
            text-decoration: solid;
        }

        .percentuali-2{
            position: absolute;
            top: 0%;
            left: 840px;
            width: 50px;
            height: 25px;
            border-radius: 5%;
            background-color:red;
            color: white;
            margin-left: 1cm;
            text-align: center;
            vertical-align: middle;
            font-size: large;
            color: black;
            text-decoration: solid;
        }

        .percentuali-3{
            position: absolute;
            right: 300px;
            top: 0%;
            width: 50px;
            height: 25px;
            border-radius: 5%;
            background-color:green;
            color: white;
            margin-left: 1cm;
            text-align: center;
            vertical-align: middle;
            font-size: large;
            color: black;
            text-decoration: solid;
        }

        


